.git
.github
.kilo
.claude

build
vendor
tmp

spinel_codegen
spinel_codegen.exe
spinel_parse
spinel_parse.exe

lib/libspinel_rt.a
lib/regexp/libspre.a
lib/libspbi.a

*.o
*.c.out
*.pbm
*.swp
*.swo
*~
.DS_Store
perf.data
perf.data.old
HANDOFF.md
